<h1>Editing Studentcard</h1>

<%= render 'form', studentcard: @studentcard %>

<%= link_to 'Show', @studentcard, class: 'button', style: 'color: white' %>
<%= link_to 'Back', studentcards_path, class: 'button', style: 'color: white' %>
