<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @studentcard.student %>
</p>

<%= link_to 'Edit', edit_studentcard_path(@studentcard) %> |
<%= link_to 'Back', studentcards_path %>
