<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @studentcard.student.name %>
</p>

<%= link_to 'Edit', edit_studentcard_path(@studentcard), class: 'button', style: 'color: white' %>
<%= link_to 'Back', studentcards_path, class: 'button', style: 'color: white' %>
