<h1>Editing Ride</h1>

<%= render 'form', ride: @ride %>

<%= link_to 'Show', @ride, class: 'button', style: 'color: white' %>
<%= link_to 'Back', rides_path, class: 'button', style: 'color: white' %>
