<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Lato:300,600">
    <title>Stuyhacks2018</title>
    <style>
    .field {
      width: 50%;
    }
    h1 {
      font-family: "Lato";
      font-weight: 600;
      column-rule-color: "Purple";
    }
    .container {
      font-family: "Lato";
      font-weight: 300;
    }

    </style>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = 'container'>

      <center><%= yield %></center>
    </div>
  </body>
</html>
